set_location GWIN_RNO 6 5 1 # SB_LUT4 (LogicCell: GWIN_LC_0)
set_location GWIN 6 5 1 # SB_DFF (LogicCell: GWIN_LC_0)
set_location GWIN_RNO_0 6 5 0 # SB_LUT4 (LogicCell: GWIN_RNO_0_LC_1)
set_location RESET_ibuf_RNI8T16 2 8 6 # SB_LUT4 (LogicCell: RESET_ibuf_RNI8T16_LC_2)
set_location RESET_ibuf_RNIH9HD1 6 5 5 # SB_LUT4 (LogicCell: RESET_ibuf_RNIH9HD1_LC_3)
set_location RHIT_ibuf_RNIDVJQ 2 6 0 # SB_LUT4 (LogicCell: RHIT_ibuf_RNIDVJQ_LC_4)
set_location RWIN_RNO 6 5 3 # SB_LUT4 (LogicCell: RWIN_LC_5)
set_location RWIN 6 5 3 # SB_DFF (LogicCell: RWIN_LC_5)
set_location RWIN_RNO_0 6 5 4 # SB_LUT4 (LogicCell: RWIN_RNO_0_LC_6)
set_location RWIN_RNO_1 6 5 2 # SB_LUT4 (LogicCell: RWIN_RNO_1_LC_7)
set_location TIMER_RUNNING_RNO 5 7 5 # SB_LUT4 (LogicCell: TIMER_RUNNING_LC_8)
set_location TIMER_RUNNING 5 7 5 # SB_DFF (LogicCell: TIMER_RUNNING_LC_8)
set_location counter_RNI6R5D[0] 5 7 1 # SB_LUT4 (LogicCell: counter_RNI6R5D[0]_LC_9)
set_location counter_RNI7VHH2[3] 4 6 1 # SB_LUT4 (LogicCell: counter_RNI7VHH2[3]_LC_10)
set_location counter_RNIMB6D[7] 5 6 0 # SB_LUT4 (LogicCell: counter_RNIMB6D[7]_LC_11)
set_location counter_RNIRAS9[0] 4 6 5 # SB_LUT4 (LogicCell: counter_RNIRAS9[0]_LC_12)
set_location counter_RNIS6CQ[0] 5 6 1 # SB_LUT4 (LogicCell: counter_RNIS6CQ[0]_LC_13)
set_location counter_RNO[0] 5 6 6 # SB_LUT4 (LogicCell: counter[0]_LC_14)
set_location counter[0] 5 6 6 # SB_DFFER (LogicCell: counter[0]_LC_14)
set_location counter_RNO_0[2] 4 7 2 # SB_LUT4 (LogicCell: counter_RNO_0[2]_LC_15)
set_location counter_cry_c[2] 4 7 2 # SB_CARRY (LogicCell: counter_RNO_0[2]_LC_15)
set_location counter_RNO_0[3] 4 7 3 # SB_LUT4 (LogicCell: counter_RNO_0[3]_LC_16)
set_location counter_cry_c[3] 4 7 3 # SB_CARRY (LogicCell: counter_RNO_0[3]_LC_16)
set_location counter_RNO_0[6] 4 7 6 # SB_LUT4 (LogicCell: counter_RNO_0[6]_LC_17)
set_location counter_cry_c[6] 4 7 6 # SB_CARRY (LogicCell: counter_RNO_0[6]_LC_17)
set_location counter_RNO_0[7] 4 7 7 # SB_LUT4 (LogicCell: counter_RNO_0[7]_LC_18)
set_location counter_RNO[1] 4 6 6 # SB_LUT4 (LogicCell: counter[1]_LC_19)
set_location counter[1] 4 6 6 # SB_DFFER (LogicCell: counter[1]_LC_19)
set_location counter_RNO[2] 4 6 2 # SB_LUT4 (LogicCell: counter[2]_LC_20)
set_location counter[2] 4 6 2 # SB_DFFER (LogicCell: counter[2]_LC_20)
set_location counter_RNO[3] 4 6 3 # SB_LUT4 (LogicCell: counter[3]_LC_21)
set_location counter[3] 4 6 3 # SB_DFFER (LogicCell: counter[3]_LC_21)
set_location counter_RNO[4] 5 6 4 # SB_LUT4 (LogicCell: counter[4]_LC_22)
set_location counter[4] 5 6 4 # SB_DFFER (LogicCell: counter[4]_LC_22)
set_location counter_RNO[5] 5 6 5 # SB_LUT4 (LogicCell: counter[5]_LC_23)
set_location counter[5] 5 6 5 # SB_DFFER (LogicCell: counter[5]_LC_23)
set_location counter_RNO[6] 5 6 7 # SB_LUT4 (LogicCell: counter[6]_LC_24)
set_location counter[6] 5 6 7 # SB_DFFER (LogicCell: counter[6]_LC_24)
set_location counter_RNO[7] 4 6 4 # SB_LUT4 (LogicCell: counter[7]_LC_25)
set_location counter[7] 4 6 4 # SB_DFFER (LogicCell: counter[7]_LC_25)
set_location state_RNI0FMQ1[6] 6 5 6 # SB_LUT4 (LogicCell: state_RNI0FMQ1[6]_LC_26)
set_location state_RNI65UK1[4] 6 5 7 # SB_LUT4 (LogicCell: state_RNI65UK1[4]_LC_27)
set_location state_RNIR3P71[5] 5 5 6 # SB_LUT4 (LogicCell: state_RNIR3P71[5]_LC_28)
set_location state_RNO[0] 5 6 2 # SB_LUT4 (LogicCell: state_RNO[0]_LC_29)
set_location state_RNO_0[0] 5 5 4 # SB_LUT4 (LogicCell: state_RNO_0[0]_LC_30)
set_location state_RNO_0[3] 6 7 1 # SB_LUT4 (LogicCell: state_RNO_0[3]_LC_31)
set_location state_RNO_0[4] 5 5 2 # SB_LUT4 (LogicCell: state_RNO_0[4]_LC_32)
set_location state_RNO[1] 6 6 3 # SB_LUT4 (LogicCell: state[1]_LC_33)
set_location state[1] 6 6 3 # SB_DFFR (LogicCell: state[1]_LC_33)
set_location state_RNO[2] 6 6 4 # SB_LUT4 (LogicCell: state[2]_LC_34)
set_location state[2] 6 6 4 # SB_DFFR (LogicCell: state[2]_LC_34)
set_location state_RNO[3] 6 6 5 # SB_LUT4 (LogicCell: state[3]_LC_35)
set_location state[3] 6 6 5 # SB_DFFR (LogicCell: state[3]_LC_35)
set_location state_RNO[4] 5 5 3 # SB_LUT4 (LogicCell: state[4]_LC_36)
set_location state[4] 5 5 3 # SB_DFFR (LogicCell: state[4]_LC_36)
set_location state_RNO[5] 5 5 5 # SB_LUT4 (LogicCell: state[5]_LC_37)
set_location state[5] 5 5 5 # SB_DFFR (LogicCell: state[5]_LC_37)
set_location state_RNO[6] 6 6 0 # SB_LUT4 (LogicCell: state[6]_LC_38)
set_location state[6] 6 6 0 # SB_DFFR (LogicCell: state[6]_LC_38)
set_location state_RNO[7] 6 6 1 # SB_LUT4 (LogicCell: state[7]_LC_39)
set_location state[7] 6 6 1 # SB_DFFS (LogicCell: state[7]_LC_39)
set_location state_fast_RNIBO5N1[7] 4 6 0 # SB_LUT4 (LogicCell: state_fast_RNIBO5N1[7]_LC_40)
set_location state_fast_RNIS9LJ4[7] 5 5 7 # SB_LUT4 (LogicCell: state_fast_RNIS9LJ4[7]_LC_41)
set_location state_fast_RNIVPHS[7] 4 6 7 # SB_LUT4 (LogicCell: state_fast_RNIVPHS[7]_LC_42)
set_location state_fast_RNO[7] 6 6 2 # SB_LUT4 (LogicCell: state_fast[7]_LC_43)
set_location state_fast[7] 6 6 2 # SB_DFFS (LogicCell: state_fast[7]_LC_43)
set_location state_0_THRU_LUT4_0 4 5 0 # SB_LUT4 (LogicCell: state[0]_LC_44)
set_location state[0] 4 5 0 # SB_DFFER (LogicCell: state[0]_LC_44)
set_location counter_cry_0_THRU_LUT4_0 4 7 1 # SB_LUT4 (LogicCell: counter_cry_0_THRU_LUT4_0_LC_45)
set_location counter_cry_c[1] 4 7 1 # SB_CARRY (LogicCell: counter_cry_0_THRU_LUT4_0_LC_45)
set_location counter_cry_3_THRU_LUT4_0 4 7 4 # SB_LUT4 (LogicCell: counter_cry_3_THRU_LUT4_0_LC_46)
set_location counter_cry_c[4] 4 7 4 # SB_CARRY (LogicCell: counter_cry_3_THRU_LUT4_0_LC_46)
set_location counter_cry_4_THRU_LUT4_0 4 7 5 # SB_LUT4 (LogicCell: counter_cry_4_THRU_LUT4_0_LC_47)
set_location counter_cry_c[5] 4 7 5 # SB_CARRY (LogicCell: counter_cry_4_THRU_LUT4_0_LC_47)
set_location counter_cry_c[0] 4 7 0 # SB_CARRY (LogicCell: counter_cry_c[0]_LC_48)
set_io GHIT_ibuf 0 14 0 # ICE_IO
set_location GND -1 -1 -1 # GND
set_io GWIN_obuf 9 0 1 # ICE_IO
set_io RESET_ibuf 10 0 0 # ICE_IO
set_io RESET_ibuf_RNI8T16_0 0 8 1 # ICE_GB
set_io RHIT_ibuf 0 13 1 # ICE_IO
set_io RWIN_obuf 13 3 1 # ICE_IO
set_io START_ibuf 10 0 1 # ICE_IO
set_io TIMER_RUNNING_obuf 0 13 0 # ICE_IO
set_io CLOCK_ibuf_gb_io 0 14 1 # ICE_IO
set_io CLOCK_ibuf_gb_io_gb 0 9 0 # ICE_GB
set_location CONSTANT_ONE_LUT4 4 8 0 # SB_LUT4 (LogicCell: LC_49)
